body {
    font-family: 'Poppins', sans-serif;
}

nav {
    border-bottom: 1.5px solid whitesmoke;
    background-color: rgb(165, 235, 212);
    position: static;
}

.navbar-logo {
    position: absolute;
    margin-top: 18px;
    margin-left: 20px;
    text-decoration: none;
}

.navbar {
    display: inline-block;
    margin-top: 25px;
    margin-left: 150px;
    width: 50%;
    text-align: left;
}

.navbar li {
    display: inline-block;
    font: size 50px;
}

.navbar li a {
    color: black;
    text-decoration: none;
    padding: 34px 23px;
}

.navbar li a:hover {
    text-decoration: underline;
}

.search {
    position: absolute;
    left: 580px;
    top: 8px;
    width: 350px;
    height: 26px;
    border-radius: 6px;
    border: none;
    outline: none;
}

.profile {
    position: absolute;
    top: 32px;
    left: 970px;
    cursor: pointer;
}

.profile:hover {
    text-decoration: underline;
}

.Profile {
    position: absolute;
    top: 5px;
    opacity: 0.8;
    left: 970px;
    cursor: pointer;
    width: 40px;
    height: 30px;
    border-radius: 100%;
}

.Wish {
    position: absolute;
    top: 5px;
    opacity: 0.8;
    left: 1060px;
    cursor: pointer;
    width: 40px;
    height: 30px;
    border-radius: 100%;
}

.wish {
    position: absolute;
    top: 32px;
    left: 1050px;
    cursor: pointer;
}

.wish:hover {
    text-decoration: underline;
}

.Bag {
    position: absolute;
    top: 5px;
    opacity: 0.8;
    left: 1140px;
    cursor: pointer;
    width: 40px;
    height: 30px;
    border-radius: 100%;
}

.bag {
    position: absolute;
    top: 32px;
    left: 1145px;
    cursor: pointer;
}

.bag:hover {
    text-decoration: underline;
}
.main{
    position: absolute;
    margin-left: 30px;
    top: 150px;
}
#s1{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: 400px;
    margin-left: 50px;
}
#s2{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: 400px;
    margin-left: 100px;
}
#s3{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: 400px;
    margin-left: 150px;
}
#s4{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: 400px;
    margin-left: 200px;
}
.mat{
    font-size: 17px;
    text-align: center;
    width: 50%;
    margin-top: 100px;
    margin-left: 500px;
}
.card-text2 {
    margin-left: 80px;
    font-size: 20px;
    font-weight: 500;
}
.mat a{
    position: absolute;
    right: 360px;
    top: 418px;
}
#size{
    position: absolute;
    top: 370px;
    right: 330px;
}
.mat input{
    width: 40px;
    position: absolute;
    top: 370px;
    left: 800px;
}