body {
    font-family: 'Poppins', sans-serif;
}

nav {
    border-bottom: 1.5px solid whitesmoke;
    background-color: rgb(165, 235, 212);
    position: static;
}

.navbar-logo {
    position: absolute;
    margin-top: 18px;
    margin-left: 20px;
    text-decoration: none;
}

.navbar {
    display: inline-block;
    margin-top: 25px;
    margin-left: 160px;
    width: 50%;
    text-align: left;
}

.navbar li {
    display: inline-block;
    font: size 50px;
}

.navbar li a {
    color: black;
    text-decoration: none;
    padding: 34px 23px;
}

.navbar li a:hover {
    text-decoration: underline;
}

.search {
    position: absolute;
    left: 580px;
    top: 8px;
    width: 350px;
    height: 26px;
    border-radius: 6px;
    border: none;
    outline: none;
}

.profile {
    position: absolute;
    top: 32px;
    left: 970px;
    cursor: pointer;
}

.profile:hover {
    text-decoration: underline;
}

.Profile {
    position: absolute;
    top: 5px;
    opacity: 0.8;
    left: 970px;
    cursor: pointer;
    width: 40px;
    height: 30px;
    border-radius: 100%;
}

.Wish {
    position: absolute;
    top: 5px;
    opacity: 0.8;
    left: 1060px;
    cursor: pointer;
    width: 40px;
    height: 30px;
    border-radius: 100%;
}

.wish {
    position: absolute;
    top: 32px;
    left: 1050px;
    cursor: pointer;
}

.wish:hover {
    text-decoration: underline;
}

.Bag {
    position: absolute;
    top: 5px;
    opacity: 0.8;
    left: 1140px;
    cursor: pointer;
    width: 40px;
    height: 30px;
    border-radius: 100%;
}

.bag {
    position: absolute;
    top: 32px;
    left: 1145px;
    cursor: pointer;
}

.bag:hover {
    text-decoration: underline;
}
#cart-items table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    white-space: nowrap;
}
#cart-items table img{
    width: 70px;
}
#cart-items table input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}
#cart-items table thead{
    border: 2px solid whitesmoke;
    border-left: none;
    border-right: none;
}
#cart-items table thead td{
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    padding: 18px 0;
}
#cart-items table tbody tr td{
    padding: 15px;
}
section {
    max-width: 1500px;
    margin: 20px auto;
    padding: 20px;
}

h2 {
    color: #333;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#cart-items {
    display: flex;
    flex-direction: column;
}

.cart-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    bottom: 0;
    width: 100%;
}
